body {
  background-color: #111111;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

a {
  text-decoration: none;
}

a:hover {
  font-variant: small-caps;
}

p {
  font-family: sans-serif;
  color: white;
  opacity: 0.9;
  font-size:calc(14px + 0.3vw);
  padding-top: 3vh;
  text-align: center;
}

.anim {
  position: fixed;
  transform: translateY(-50%);
  top: 50%;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
}


.main {
  padding-top: 1vh;
  padding-left:calc(10px + 4vw);
  position: fixed;
}

.menu {
  padding-top: 20vh;
  margin: 0 auto;
  width: 33%;

}

.titre {
  font-size: 26px;
  font-weight: 900;
  text-align: left;
  font-variant: small-caps;
  padding-top: 0;
}

.mail {
  font-size: 18px;
  font-weight: 100;
  text-align: left;
  padding: 0;
}

.job {
  padding: 0;
  margin-top: -14px;
  font-size: 12px;
  opacity: 0.5;
  font-variant: small-caps;
}

.projects-button {
  margin: 0 auto;
  padding-top: 50px;
  width: 100px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  border-style: solid;
  font-variant: small-caps;
  display: block;
}

.projects-button:hover {
  background-color: darkgray;
  cursor: pointer;
}

.projects {
  margin: 0 auto;
  background-color: black;
  opacity: 0.8;
  width: 50%;
  text-align: center;
  display: none;
  }
